.authentication {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 15px;
    margin: 100px 0px;
    .linkToTop {
        margin: 15px 0 15px;
        & > a {
            color:#fd5068;
        }
    }
}
